@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
